
@delite:registry=https://bas.eur.ad.sag/artifactory/api/npm/npm-milestone-local/
@jse:registry=https://bas.eur.ad.sag/artifactory/api/npm/npm-snapshot-local/
;//sab.eur.ad.sag/artifactory/api/npm/npm-snapshot-local/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJ3RGEyOE5sWEI5Ym5KU0FSY3hfWlNZUGtaWUt4QjQta3JTVDVHTnhnRmFnIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUA1OGM5MDM1OS00MDZiLTRmYzUtOTRkZC03ZDlhNjJkNWYyODlcL3VzZXJzXC9iYXNucG0iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUA1OGM5MDM1OS00MDZiLTRmYzUtOTRkZC03ZDlhNjJkNWYyODkiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUA1OGM5MDM1OS00MDZiLTRmYzUtOTRkZC03ZDlhNjJkNWYyODkiLCJpYXQiOjE2MjQ5MDk1MTgsImp0aSI6IjMyYmY0NmM3LTAzOTctNGVhNi05YWQxLTFkNTg3NTliZmM3NCJ9.VR7Car8XmbVz6O2r4np-iMiiiYDB3J1P3QKfDPVmiM-eqZnh9EWG6LOQ0jaMWH6JRFIb9BGwOv1mG5JpyzLyy6QIXOOKHM54m8SS6o7psHueAo1x-wDhlfLGy3y-aF8APPb_yulZBjrxYrMD-WBf0KrukVBv5G-Wdung05pmVJxHqg8nxBVddbI8hP4A4dAVmCyPZ2nvmlXqCwVqRnikrFPMMACKGPDN9jN9gynsMCES9aTtwuboFxrwnBOLTAKJPIzMhlqBzR4JqF9UBXEMgbvyHCa-Cv2WE4XLp3B_ua3keX9IrBoDOXC48lkg3tXZf6SwtbMi_m6Ayf_oesT2aQ
;//bas.eur.ad.sag/artifactory/api/npm/npm-snapshot-local/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJ3RGEyOE5sWEI5Ym5KU0FSY3hfWlNZUGtaWUt4QjQta3JTVDVHTnhnRmFnIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUA1OGM5MDM1OS00MDZiLTRmYzUtOTRkZC03ZDlhNjJkNWYyODlcL3VzZXJzXC9iYXNucG0iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUA1OGM5MDM1OS00MDZiLTRmYzUtOTRkZC03ZDlhNjJkNWYyODkiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUA1OGM5MDM1OS00MDZiLTRmYzUtOTRkZC03ZDlhNjJkNWYyODkiLCJpYXQiOjE2NDg2NDkxMDYsImp0aSI6ImVhMmExODJmLWQxYjItNDUxMy1iZTk0LWI1MWY5NTg4NDI2YyJ9.Q3KeYBiepVfZy70q8MuBpmL9GdVSOjI-yAUzcb-RQh2isCTQM9u1KKb-uTBabDbgYtjub6hfdtByCHhcGJLOX8fWsSBX5SwC6rJcqcrsR5ncwPeGEykHPWi9wQlYtdF4kpADYVGTbm9aR0YjutsMyNFkqTBXPaJonVyQEv8HfHLYkhAA2fbR5ZrP4HREXX4TgrHTTpRFeTxmlhBmd3QJcKDgdwlDgx6FL2Kki3wL8V0yKxo-U8c_S6Wt13gVIgcz87eDWYKWxMNVhau57C4-8tHOt7Uu81WTGmjecgVfJMRuvgWZ4Nx6txwbfYje_ZppgAqgfvhcGAkWTa77FcJy4w
//registry.npmjs.org/:_authToken=fc176b37-e6fb-4d7c-b423-b3340d14f812
